*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: space-between;
}   


h1{
    font-size: 35px;
    margin: 35px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(240, 240, 240);
}

section{
    width: 50vh;
    height: 80vh;
    background: rgb(216, 215, 215);
}

article{
    width: 100vh;
    height:80vh;
    background: rgb(149, 149, 149);
}

aside{
    width: 50vh;
    height: 80vh;
    background: rgb(216, 215, 215);
}

section p{
    margin: 10px;
}

aside p{
    margin: 10px;
}

h2{
    margin-top: 20px;
}

article p{
    margin-top: 10px;
}

footer{
    padding: 30px;
    display: flex;
    margin: 35px;
    justify-content: center;
    background: grey;
}